*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  min-height: 100vh;
  background: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.inputCity {
  width: 300px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
h1 {
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
}
.card {
  background: #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background: white;
}

.card-image {
  position: relative;
  max-height: 150px;
  overflow: hidden;
}
.card-image .card-image--background {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-image .card-image--icon {
  position: absolute;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  z-index: 10;
}
.card .card-image--icon {
  -webkit-animation: float 2s linear infinite backwards;
  animation: float 2s linear infinite backwards;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
}

.card-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 10px;
  max-height: 150px;
  height: 100%;
}
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
